@import url(normalize.css);
html {
  height: 100%;
  font-size: 100%;
}

a:hover {
  color: unset !important;
}

body {
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: relative;
}
body.headerMainMenuActive {
  overflow: hidden;
}

/* layout */
.body-inner {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.contentMain {
  flex: 1;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid > .container-fluid-inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid > .container {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid.allWidth {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid.allWidth img {
  max-width: 100%;
  height: auto;
}

.wrapperDefault-inner {
  max-width: 1195px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.headerMain {
  margin-bottom: 15px;
}
.headerMain-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

/* /layout */
h1,
.h1,
h2,
.h2,
h3,
.h3 h4,
.h4 h5,
.h5 h6,
.h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2,
.h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

h3,
.h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

h4,
.h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

a,
a:visited {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.fw-lato-light {
  font-weight: 300;
}
.fw-lato-medium {
  font-weight: 400;
}
.fw-lato-bold,
b,
strong {
  font-weight: 700;
}
.fw-grotesk-light {
  font-weight: 300;
}
.fw-grotesk-medium {
  font-weight: 500;
}
.fw-grotesk-bold {
  font-weight: 700;
}

.ff-lato,
b,
strong {
  font-family: "Lato", sans-serif;
}
.ff-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-white,
.c-white:visited,
.c-white:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid transparent;
  display: table;
  align-items: center;
  justify-content: center;
  min-height: 55px;
  min-width: 220px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  text-decoration: none !important;
  border-radius: 0;
  color: #fff !important;
  position: relative;
  z-index: 1;
}
.btn:not(button) .btn-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.btn a {
  text-decoration: none;
  color: inherit !important;
}
.btn-green {
  background-color: #05a558;
  border-color: #05a558;
}
.btn-green:hover {
  background-color: #04743e;
  transition: background-color 0.4s;
}
.btn-green:active {
  background-color: #024223;
}
.btn-blue {
  background-color: #0001fe;
  border-color: #0001fe;
}
.btn-blue:hover {
  background-color: #0001cb;
  transition: background-color 0.4s;
}
.btn-blue:active {
  background-color: #000198;
}
.btn-transp {
  background-color: transparent;
}
.btn-transp:active {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-transp.btn-border-green {
  border-color: #05a558;
}
.btn-transp.btn-border-green:hover {
  background-color: #05a558;
  transition: background-color 0.4s;
}
.btn-transp.btn-border-blue {
  border-color: #0001fe;
}
.btn-transp.btn-border-blue:hover {
  background-color: #0001fe;
  transition: background-color 0.4s;
}
.btn.btn-small {
  min-height: 48px;
}
.btn-group {
  gap: 0 35px;
  flex-wrap: wrap;
}
.btn-w-auto {
  width: auto;
  min-width: auto;
}
@media (max-width: 575.98px) {
  .btn-wxs-100 {
    width: 100%;
  }
}

.btn-group .btn {
  display: inline-flex;
  flex: 1;
}

/* Header */
.headerMain__menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerMain__menu {
  z-index: -10;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -15px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.headerMain__menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 80px 15px 30px;
  overflow-y: auto;
  transform: translateX(100vw);
}
.headerMain__menu.active .headerMain__menu__list {
  transform: translateX(0);
  transition: transform 0.4s 0.2s;
}
.headerMain__menu.active {
  visibility: visible;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s;
}

.headerMain__menu__bar {
  margin-top: -13px;
  top: 50%;
  right: 0;
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 102;
}
.headerMain__menu__bar__inner {
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
}
.headerMain__menu__bar__inner::before,
.headerMain__menu__bar__inner::after {
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
}
.headerMain__menu__bar__inner::before {
  top: -5px;
}
.headerMain__menu__bar__inner::after {
  bottom: -5px;
}
.headerMain__menu__bar.active {
  display: block;
}
.headerMain__menu__bar.active .headerMain__menu__bar__inner::before,
.headerMain__menu__bar.active .headerMain__menu__bar__inner::after {
  transition: top 0.4s 0.5s, bottom 0.4s 0.5s, transform 0.4s 1s !important;
}
.headerMain__menu__bar.active .headerMain__menu__bar__inner::before {
  top: 0px;
  bottom: auto;
  transform: rotate(-45deg);
}
.headerMain__menu__bar.active .headerMain__menu__bar__inner::after {
  bottom: 0px;
  top: auto;
  transform: rotate(45deg);
}

.headerPage {
  margin-bottom: 20%;
  padding-top: 119%;
  position: relative;
}
.headerPage__name {
  display: none;
  min-height: 26px;
  font-family: "Space Grotesk";
  font-weight: 300;
}
.headerPage__title {
  width: 78%;
  min-width: 255px;
  text-align: center;
  margin: 0 auto 35px;
}
.headerPage__intro {
  text-align: center;
  width: 78%;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.headerPage__intro br {
  display: none;
}
.headerPage__wrapImg {
  position: absolute;
  left: -15px;
  top: 0;
  right: -15px;
  z-index: -1;
}
.headerPage__wrapImg img {
  width: 100%;
}
.headerPage-index {
  padding-top: 66%;
}
.headerPage__btn-group {
  margin-top: 11vh;
}
.headerPage .wrapEye {
  max-width: 100%;
}

.headerSplash

/* /Header */
/* Footer layout */
.footerMain .wrapperDefault-inner {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
  border-top: 1px solid #1d3453;
}
.footerMain-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 0;
}
.footerMain__logo {
  grid-column: 1/3;
  grid-row: 2;
}
.footerMain__subscribe {
  grid-column: 1/3;
  grid-row: 1;
}
.footerMain__list .listWrap__title {
  position: relative;
}
.footerMain__list .listWrap__title::after {
  content: "";
  height: 0.01em;
  background-color: #1d3453;
  left: 0;
  position: absolute;
  bottom: -9px;
  width: calc(100vw - 30px);
}
.footerMain__list-general {
  grid-column: 1;
  grid-row: 3;
}
.footerMain__list-comm {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
}
.footerMain__list-comm .listWrap__title::after {
  display: none;
}
.footerMain__list-tech {
  grid-column: 1;
  grid-row: 4;
}
.footerMain__socials {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  align-self: end;
}
.footerMain__copyright {
  color: #1d3453;
  text-align: center;
  margin-top: 60px;
  font: 400 14px "Lato";
  white-space: nowrap;
}

/* /Footer layout */
.joinCommunity {
  background-color: #08131e;
  text-align: center;
  margin-top: 130px;
  padding: 40px 20px;
}
.joinCommunity__title {
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 700;
}
.joinCommunity__btn {
  margin: 30px auto 0;
}

.form-control {
  border-radius: 0;
}
.form-control[type="text"],
.form-control[type="email"],
.form-control[type="password"] {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font: 700 16px "Space Grotesk";
  transition: none;
  height: 48px;
}
.form-control[type="text"]::placeholder,
.form-control[type="email"]::placeholder,
.form-control[type="password"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form__subscribe {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}
.form__subscribe .btn {
  margin-bottom: 0;
}
.form__subscribe [type="email"] {
  width: 100%;
}

.socials {
  display: inline-flex;
  gap: 15px;
}
.socials__item {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: #0001fe;
  border-radius: 50%;
}
.socials__item:active {
  background-color: #000198;
}

.listWrap__title {
  font: 300 16px "Space Grotesk";
  margin-bottom: 20px;
}
.listWrap__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}
.listWrap__item {
  font: 400 14px "Lato";
  color: #748296;
}
.listWrap__link,
.listWrap__link:visited {
  color: inherit;
}

.titleSeparator {
  margin-top: 100px;
  margin-bottom: 50px;
}
.titleSeparator__title {
  text-align: center;
}
.titleSeparator__intro {
  font: 400 16px/1.5 "Lato";
  text-align: center;
}
.titleSeparator__wrapImg {
  margin-bottom: 70px;
  z-index: -1;
}
.titleSeparator__wrapImg img {
  max-width: 100%;
  transform: scale(1.3);
  margin-left: 26%;
}
.titleSeparator__content + .titleSeparator__wrapImg {
  order: -1;
}
.titleSeparator__content {
  position: relative;
}

.section {
  margin-top: 30px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.section__title {
  margin-bottom: 30px;
}
.section__intro,
.section__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 30px;
}
.section__intro p,
.section__text p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.section__text {
  line-height: 2;
  color: #d6e3f5;
}
.section__content {
  z-index: 1;
}
.section__wrapImg {
  text-align: center;
}
.section__wrapImg__imgBig {
  max-width: 100%;
  position: relative;
  z-index: -1;
}
.section__aside {
  text-align: center;
}
.section__aside img {
  width: auto;
  max-width: 95%;
}
.section .star {
  position: absolute;
}
.section-index {
  margin-top: 25px;
}
.section-index .section__text {
  font-weight: 300;
  color: #748296;
}

.btn-showAllTeam {
  margin-left: auto;
  margin-right: auto;
}
.btn-showAllTeam.collapsed .expanded-true {
  display: none;
}
.btn-showAllTeam:not(.collapsed) .expanded-true {
  display: block;
}
.btn-showAllTeam:not(.collapsed) .expanded-false {
  display: none;
}

.team {
  gap: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.team__person {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.team__person__img {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}
.team__person__img img {
  width: 100%;
  height: auto;
}
.team__person__name {
  color: #fff;
  font: 500 12px "Space Grotesk";
  line-height: 1.2;
  margin-bottom: 10px;
}
.team__person__post {
  color: #748296;
  font: 400 10px "Lato";
  line-height: 1.4;
}
.team__collapse {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 50px 0;
}

.circle {
  border-radius: 1000px;
}

.partners {
  gap: 40px 0;
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 50%;
}
.partners__item img {
  max-width: 56%;
  max-height: 74%;
}

.banners__item {
  margin-top: 50px;
}
.banners__item__title {
  font: bold 14px/1.6 "Space Grotesk";
  margin-bottom: 20px;
}
.banners__item__wrapImg {
  max-height: 222px;
}
.banners__item__wrapImg img {
  max-width: 100%;
  max-height: 100%;
}

.listCommon {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 80px 0;
  display: flex;
  width: 100%;
}
.listCommon__item__wrapIco {
  margin-bottom: 30px;
}
.listCommon__item__wrapIco img {
  width: 80px;
  height: 80px;
}
.listCommon__item__title {
  color: #fff;
  font: 700 20px/1.4 "Space Grotesk";
}
.listCommon__item__text {
  color: #748296;
  font: 300 16px/1.8 "Lato";
}

/* Media Queries */
@media (max-width: 575.98px) {
  .headerPage__wrapImg .rellax {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .btn-wrapper {
    min-width: 100%;
  }
  .section__wrapImg {
    position: relative;
    order: -1;
  }
  .section__wrapImg__imgBig {
    max-width: none;
    width: 128%;
    transform: scale(1, 1) translate(20%, 0);
  }
  .section__text {
    text-align: center;
  }
  .section__aside {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .section-1 .star-1 {
    left: 51%;
    top: 60%;
    width: 174px;
  }
  .section-1 .star-2 {
    left: 17%;
    top: 50%;
  }
  .section-1 .star-3 {
    right: 0px;
    top: 6%;
    width: 136px;
  }
  .section-2 .star-1 {
    left: 0;
    top: 0;
  }
  .section-2 .star-2 {
    left: 18%;
    top: 60%;
    width: 94px;
  }
  .section-2 .star-3 {
    left: 47%;
    top: 31%;
    width: 94px;
  }
  .section-2 .star-4 {
    display: none;
  }
  .section-3 .star-1 {
    left: 80%;
    top: 80%;
    width: 64px;
  }
  .section-3 .star-2 {
    left: 37%;
    top: 59%;
    width: 138px;
  }
  .section-3 .star-3 {
    left: 66%;
    top: 17%;
    width: 100px;
  }
  .section-3 .star-4 {
    display: none;
  }
  .section-index.section-3 {
    margin-top: -50px;
  }
  .section-index:nth-child(odd) .section__wrapImg__imgBig {
    transform: scale(-1, 1) translate(20%, 0);
  }
  .section-about .section__wrapImg {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .listCommon {
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  .listCommon__item {
    text-align: center;
  }
  .listCommon__item__title {
    margin-bottom: 15px;
  }
  .listCommon__item__title br {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .rellax {
    transform: translate3d(0, 0, 0) !important;
  }
  .section__wrapImg {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .section-index .rellax-index-1 .section__wrapImg__imgBig {
    transform: scale(-1, 1) translateY(0) !important;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .body-inner {
    padding-left: 45px;
    padding-right: 45px;
  }
  .headerPage__wrapImg {
    right: -60px;
  }
  .setGorizont-downXL {
    height: 350px;
    margin-bottom: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .setGorizont-downXL .rellax {
    transform: rotate(90deg) !important;
  }
  .setGorizont-downXL .rellax img {
    margin-right: 360px;
  }
  .section-index.section-1 .section__content,
  .section-index.section-3 .section__content {
    margin-top: -140px;
  }
  .section-index.section-2 .section__wrapImg {
    margin-top: -600px;
  }
  .section-index.section-3 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-weight: 700;
  }
  h2,
  .h2,
  h3,
  .h3 h4,
  .h4 h5,
  .h5 h6,
  .h6 {
    font-weight: 500;
  }
  h1,
  .h1 {
    font-size: 60px;
  }
  h2,
  .h2 {
    font-size: 50px;
  }
  h3,
  .h3 {
    font-size: 40px;
  }
  h4,
  .h4 {
    font-size: 30px;
  }
  h5,
  .h5 {
    font-size: 20px;
  }
  h6,
  .h6 {
    font-size: 16px;
  }
  .footerMain__subscribe [type="email"] {
    flex: 1;
  }
  .footerMain .wrapperDefault-inner {
    padding-top: 0;
  }
  .footerMain-inner {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0;
  }
  .footerMain__logo {
    grid-column: 1;
    grid-row: 2;
  }
  .footerMain__subscribe {
    grid-column: 1/6;
    grid-row: 1;
    align-self: start;
    padding: 60px 10%;
    margin: 0 auto 45px;
    border-bottom: 1px solid #1d3453;
    width: 100%;
  }
  .footerMain__subscribe [type="email"],
  .footerMain__subscribe [type="submit"] {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footerMain__list {
    padding-top: 10px;
  }
  .footerMain__list .listWrap__title {
    font-size: 16px;
    position: static;
  }
  .footerMain__list .listWrap__title::after {
    display: none;
  }
  .footerMain__list-general {
    grid-column: 3;
    grid-row: 2;
  }
  .footerMain__list-comm {
    grid-column: 4;
    grid-row: 2;
    justify-self: start;
  }
  .footerMain__list-tech {
    grid-column: 5;
    grid-row: 2;
  }
  .footerMain__socials {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    margin-top: 70px;
  }
  .footerMain__copyright {
    text-align: left;
    margin-top: -18px;
  }
  .btn {
    padding-left: 35px;
    padding-right: 35px;
  }
  .btn-inner {
    white-space: nowrap;
  }
  .btn:not(input) {
    width: 0;
  }
  .headerMain {
    margin-bottom: 60px;
  }
  .headerMain-inner {
    min-height: 100px;
  }
  .headerMain-index {
    margin-bottom: 30px;
  }
  .headerMain__menu {
    left: -60px;
  }
  .headerMain__menu__list {
    padding-left: 60px;
    padding-right: 60px;
  }
  .headerPage {
    padding-top: 0;
  }
  .headerPage__name {
    font-size: 22px;
  }
  .headerPage__title {
    text-align: left;
    margin-left: 0;
  }
  .headerPage__intro {
    font-size: 18px;
    text-align: left;
    margin-left: 0;
  }
  .headerPage__intro br {
    display: block;
  }
  .headerPage__wrapImg {
    left: auto;
    top: -80px;
  }
  .headerPage__wrapImg .rellax {
    opacity: 0;
    transition: opacity 0.4s;
  }
  .headerPage__wrapImg .rellax:not([style^="transform"]) {
    transform: translate3d(0, 0, 0);
  }
  .headerPage__wrapImg .rellax.active {
    opacity: 1;
  }
  .headerPage-index {
    margin-bottom: 4%;
  }
  .form__subscribe [type="email"] {
    width: 244px;
  }
  .listWrap__title {
    font-size: 22px;
  }
  .listWrap__item {
    font-size: 18px;
  }
  .section {
    text-align: left;
    margin-top: 70px;
  }
  .section__text {
    font-size: 16px;
  }
  .section__text:not(.section__text_allWidth) {
    max-width: 78%;
  }
  .section-1 .star-1 {
    left: 0;
    top: 29%;
  }
  .section-1 .star-2 {
    left: 31%;
    top: 24px;
  }
  .section-1 .star-3 {
    right: 8%;
    top: 13%;
  }
  .section-2 .star-1 {
    left: 12%;
    top: -105px;
  }
  .section-2 .star-2 {
    left: 32%;
    top: -227px;
  }
  .section-2 .star-3 {
    left: 5%;
    top: 90%;
    display: none;
  }
  .section-2 .star-4 {
    left: 72%;
    top: -28%;
  }
  .section-3 .star-1 {
    left: 5%;
    top: -108px;
    display: none;
  }
  .section-3 .star-2 {
    left: 1%;
    top: 10%;
  }
  .section-3 .star-3 {
    left: 42%;
    top: -15px;
  }
  .section-3 .star-4 {
    right: 0px;
    top: 17%;
  }
  .section-index .section__title {
    max-width: 74%;
    margin-left: auto;
  }
  .section-index .section__title br {
    display: none;
  }
  .section-index.section-2 {
    margin-top: 27%;
  }
  .section-index.section-2 .section__title {
    margin-left: 0;
  }
  .section-index.section-2 .section__wrapImg {
    margin-left: auto;
    margin-top: -90%;
  }
  .team__person {
    width: 25%;
  }
  .partners__item {
    width: 33.333%;
  }
  .partners__item img {
    max-width: 50%;
  }
  .banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .banners__item {
    width: 48%;
  }
  .banners__item__title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 25px;
    min-height: 80px;
  }
  .banners__item__wrapImg {
    max-height: none;
    height: 200px;
  }
  .listCommon__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: start;
  }
  .listCommon__item__wrapIco {
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .listCommon__item__wrapIco img {
    width: 90px;
    height: 90px;
  }
  .listCommon__item__title {
    font-size: 20px;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
  }
  .listCommon__item__text {
    grid-column: 1;
    grid-row: 3;
  }
  .listCommon-2col {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .listCommon-2col .listCommon__item {
    width: 37%;
  }
  .listCommon:not(.listCommon-2col) {
    flex-direction: column;
  }
  .titleSeparator {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
  }
  .titleSeparator__intro {
    font: 300 24px "Space Grotesk";
  }
  .titleSeparator__wrapImg {
    margin-bottom: 11%;
  }
  .titleSeparator__wrapImg img {
    max-width: 40%;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .footerMain .wrapperDefault-inner {
    padding-top: 50px;
  }
  .footerMain-inner {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0;
  }
  .footerMain__logo {
    grid-column: 1/3;
    grid-row: 1;
  }
  .footerMain__subscribe {
    grid-column: 1/4;
    grid-row: 1;
    align-self: start;
    margin: 80px 0 40px;
    padding: 0;
    border-bottom: 0;
  }
  .footerMain__subscribe [type="email"],
  .footerMain__subscribe [type="submit"] {
    flex: 0;
  }
  .footerMain__subscribe [type="submit"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .footerMain__list .listWrap__title {
    position: static;
  }
  .footerMain__list .listWrap__title::after {
    display: none;
  }
  .footerMain__list-general {
    grid-column: 4;
    grid-row: 1;
  }
  .footerMain__list-comm {
    grid-column: 5;
    grid-row: 1;
    justify-self: start;
  }
  .footerMain__list-tech {
    grid-column: 6;
    grid-row: 1;
  }
  .footerMain__socials {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    margin-top: 170px;
  }
  .footerMain__copyright {
    text-align: left;
    margin-top: 60px;
  }
  .headerMain__menu {
    z-index: 0;
    visibility: visible;
    display: block;
    position: static;
    height: auto;
    width: auto;
  }
  .headerMain__menu__list {
    display: flex;
    gap: 40px;
    padding: 0;
    flex-direction: row;
    transform: none;
  }
  .headerMain__menu__bar {
    display: none;
  }
  .headerPage__wrapImg {
    top: -80px;
  }
  .headerPage-index .headerPage__wrapImg {
    top: -35px;
  }
  .section-index .section__title {
    max-width: 69%;
  }
  .section-index.section-2 {
    margin-top: 32%;
  }
  .section-index.section-2 .section__title {
    margin-left: 0;
  }
  .section-index.section-2 .section__wrapImg {
    margin-left: auto;
    margin-top: -80%;
  }
  .team {
    gap: 100px 0;
  }
  .team__person__img {
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
  }
  .team__person__name {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .team__person__post {
    font-size: 18px;
  }
  .partners {
    gap: 50px 0;
  }
  .partners__item {
    height: 140px;
  }
  .banners__item__title {
    margin-bottom: 50px;
  }
  .banners__item__wrapImg {
    height: 268px;
  }
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-weight: 500;
    font-size: 94px;
  }
  h2,
  .h2 {
    font-size: 74px;
  }
  h3,
  .h3 {
    font-size: 64px;
  }
  h4,
  .h4 {
    font-size: 54px;
  }
  h5,
  .h5 {
    font-size: 44px;
  }
  h6,
  .h6 {
    font-size: 34px;
  }
  .headerMain {
    margin-top: 20px;
  }
  .headerPage__name {
    font-size: 40px;
    display: block;
  }
  .headerPage__title {
    width: 85%;
  }
  .headerPage__title br {
    display: none;
  }
  .headerPage__intro {
    font-size: 24px;
  }
  .headerPage__btn-group {
    margin-top: 40px;
  }
  .headerPage__wrapImg {
    top: 0 !important;
  }
  .headerPage-index .headerPage__wrapImg {
    width: 710px;
    margin-right: -55px;
  }
  .footerMain__list .listWrap__title {
    font-size: 22px;
  }
  .banners__item__wrapImg {
    height: 322px;
  }
  .section {
    margin-top: 150px;
  }
  .section__wrapImg {
    position: static;
    order: 0;
  }
  .section__wrapImg__imgBig {
    transform: translateY(0);
  }
  .section__title br {
    display: block !important;
  }
  .section__intro {
    font-size: 24px;
  }
  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-1 .star-1 {
    left: 0;
    top: 72%;
  }
  .section-1 .star-2 {
    left: 32%;
    top: -190px;
  }
  .section-1 .star-3 {
    right: 0px;
    top: 6%;
  }
  .section-2 .star-1 {
    left: 24%;
    top: -165px;
  }
  .section-2 .star-2 {
    left: 52%;
    top: -143px;
  }
  .section-2 .star-3 {
    left: 56%;
    top: 90%;
    display: block;
  }
  .section-2 .star-4 {
    left: 82%;
    top: 61%;
  }
  .section-3 .star-1 {
    left: 5%;
    top: -108px;
    display: block;
  }
  .section-3 .star-2 {
    left: 16%;
    top: 75%;
  }
  .section-3 .star-3 {
    left: 72%;
    top: -120px;
  }
  .section-3 .star-4 {
    right: 0px;
    top: 33%;
  }
  .section-index {
    margin-top: 300px;
  }
  .section-index .section__title {
    width: auto;
    max-width: none;
    margin-left: 0;
  }
  .section-index.section-2 {
    margin-top: 300px;
  }
  .section-index.section-2 .section__wrapImg {
    margin-left: 0;
    margin-top: 0;
  }
  .section-index .section__wrapImg__imgBig {
    transform: translateY(100px) scale(1.3);
  }
  .titleSeparator {
    margin-top: 150px;
    margin-bottom: 80px;
    align-items: center;
  }
  .titleSeparator__title {
    text-align: left;
  }
  .titleSeparator__intro {
    font-size: 24px;
    margin-bottom: -60px;
    margin-top: 30px;
  }
  .titleSeparator__wrapImg {
    margin-bottom: 0;
  }
  .titleSeparator__wrapImg img {
    max-width: 100%;
    transform: scale(1.3);
    margin-left: 55px;
  }
  .titleSeparator__content + .titleSeparator__wrapImg {
    order: 0;
  }
  .listCommon__item {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 90px 1fr;
    grid-gap: 10px 20px;
    text-align: left;
  }
  .listCommon__item__wrapIco {
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .listCommon__item__wrapIco img {
    width: 90px;
    height: 90px;
  }
  .listCommon__item__title {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  .listCommon__item__text {
    grid-column: 1/3;
    grid-row: 2;
  }
  .listCommon-2col {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .listCommon-2col .listCommon__item {
    width: 48%;
  }
  .listCommon:not(.listCommon-2col) {
    flex-direction: column;
  }
  .listCommon-xl-1col .listCommon__item {
    width: 100%;
  }
}
/* /Media Queries */
/* animations */
[data-aos^="fade"],
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 1 !important;
}

[data-aos="showUpIn"] {
  opacity: 0;
  transform: scale(0.5);
  transition-property: transform, opacity;
}
[data-aos="showUpIn"].aos-animate {
  opacity: 1;
  transform: scale(1);
}

[data-aos="showUpIn"]:not(.star) {
  opacity: 1;
}

[data-aos="rotateIn"] {
  transform: scale(0.8) rotate(-180deg);
  transition-property: transform, opacity;
}
[data-aos="rotateIn"].aos-animate {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.section-index [data-aos="moveToRight"] {
  transform: scale(1.3) translateX(-20%);
  transition-property: transform, opacity;
}
.section-index [data-aos="moveToRight"].aos-animate {
  opacity: 1;
  transform: scale(1.3) translateX(0);
}
.section-index [data-aos="moveToLeft"] {
  transform: scale(1.3) translateX(20%);
  transition-property: transform, opacity;
}
.section-index [data-aos="moveToLeft"].aos-animate {
  opacity: 1;
  transform: scale(1.3) translateX(0);
}

[data-aos="listCommonItem"] .listCommon__item__wrapIco {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s, transform 1.2s;
}
[data-aos="listCommonItem"] .listCommon__item__title {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s, transform 0.7s;
}
[data-aos="listCommonItem"] .listCommon__item__text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}
[data-aos="listCommonItem"].aos-animate .listCommon__item__wrapIco {
  opacity: 1;
  transform: scale(1);
}
[data-aos="listCommonItem"].aos-animate .listCommon__item__title {
  opacity: 1;
  transform: translateX(0);
}
[data-aos="listCommonItem"].aos-animate .listCommon__item__text {
  opacity: 1;
  transform: translateY(0);
}

/* /animations */
